<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul th:each="Proyecto : ${lista}">
        <li>
            <a th:href="@{/Proyecto/{id}(id=${Proyecto.idProyecto})}">
                <img th:src="${Proyecto.Imagen}" alt="">
            </a>
        </li>
    </ul>
    <!--<p th:text="${lista}">
        <a th:href="@{/Proyecto/{id}(id=${lista.idProyecto})}">
            <img th:src="${Proyecto.Imagen}">
        </a>
    </p> -->
</body>
</html>